<html>
	<head>
		
	</head>
	<body>
		<iframe id="upload_target" name="upload_target"></iframe>
		<div id="CommonControls">
			<div id="AddLayerDiv">
				<button id="AddLayerButton">AddLayer</button>
			</div>
			<div id="SaveStateDiv">
				<button id="SaveStateButton">SaveState</button>
				<input id="SaveStateInput" placeholder="Enter Save Name"></input>
			</div>

			<div id="LoadStateDiv">
				<button id="LoadStateButton">LoadState</button>
				<input id="LoadStateInput" placeholder="Enter Menu Name"></input>
			</div>
		</div>
	</body>
</html>
